altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
gitdb
GitPython
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
narwhals
nest-asyncio
numpy
packaging
pandas
parso
patsy
pillow
platformdirs
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
referencing
requests
rpds-py
scipy
seaborn
six
smmap
stack-data
statsmodels
streamlit
tenacity
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
